[Unit]
Description=Local proxy agent for handling aws tunnel notifications
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=/opt/localproxy-agent
Restart=always
RestartSec=1
User=${{USER}}
ExecStart=yarn start
Environment="BROKER_HOST=${{BROKER_HOST}}"
Environment="CERTS_PATH=${{CERTS_PATH}}"
Environment="CLIENT_ID=${{CLIENT_ID}}"
Environment="REGION=${{REGION}}"
Environment="DEVICE_NAME=${{DEVICE_NAME}}"


[Install]
WantedBy=multi-user.target
