[Unit]
Description=Local proxy agent for handling aws tunnel notifications
After=network.target
StartLimitIntervalSec=0

[Service]
WorkingDirectory=${{INSTALLATION_PATH}}
Restart=always
RestartSec=1
User=${{USER}}
ExecStart=/bin/bash -c "node build"
Environment=BROKER_HOST=${{BROKER_HOST}}
Environment=PRIVKEY_FILE=${{PRIVKEY_FILE}}
Environment=PUBKEY_FILE=${{PUBKEY_FILE}}
Environment=CA_FILE=${{CA_FILE}}
Environment=CERT_FILE=${{CERT_FILE}}
Environment=CLIENT_ID=${{CLIENT_ID}}
Environment=REGION=${{REGION}}
Environment=DEVICE_NAME=${{DEVICE_NAME}}


[Install]
WantedBy=multi-user.target
